.post-lists{
    display: flex;
    flex-direction: column;
    transition: all ease 0.2s;
    overflow: hidden;
}
.post-list.active{
    display: flex;
}
.post-list{
    display: none;
    flex-direction: row;
    gap:60px;
    border-top: 1px solid var(--tan-dark);
    padding: 44px 0;
}
.post-left{
    display: flex;
    flex-direction: column;
    gap:16px;
    flex-basis: 160px;
    flex-shrink: 0;
    flex-grow: 0;
    align-items: flex-start;
}
.post-right{
    display: flex;
    flex-direction: column;
    gap:26px;
    flex-shrink: 1;
    flex-grow: 1;
    align-items: flex-start;
}
.post-tag{
    font-family: var(--font-headline);
    font-size: 14px;
    font-size: .88rem;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    line-height: 1.38rem;
    background-color: var(--chestnut);
    padding: 4px 16px;
    color: var(--white);
    border-radius: 50px;
}
.post-date{
    color: var(--black);
    font-family: var(--font-content);
    font-size: 18px;
    font-size: 1.13rem;
    font-style: normal;
    font-weight: 600;
    line-height: 29px;
    line-height: 1.81rem;
}
.post-title{
    color:var(--walnut);
}
.post-title a{
    color:var(--walnut)!important;
    background-image: linear-gradient(var(--walnut), var(--walnut));
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 0% 1px;
    pointer-events: none;
}
.post-list:hover .post-title a{
    animation: underline 0.2s;
    animation-fill-mode: forwards;
}
.post-desc{
    color:var(--black);
    font-size: 18px;
    font-size: 1.13rem;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    line-height: 1.81rem;
}
.cat-btn{
    background-color: transparent;
    color:var(--walnut);
    border-radius: 50px;
    padding: 14px 30px;
    border: 1px solid var(--walnut);
    font-family: var(--font-headline);
    font-size: 19px;
    font-size: 1.19rem;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    line-height: 1.5rem;
}
.cat-btn.active,
.cat-btn:hover,
.cat-btn:focus{
    background-color: var(--chestnut);
    color:var(--white);
    border-radius: 50px!important;
    border: 1px solid var(--chestnut)!important;
}
.clear{
    color:var(--walnut);
    background-color: transparent!important;
    font-family: var(--font-headline);
    font-size: 19px;
    font-size: 1.19rem;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    line-height: 1.5rem;
    display: flex;
    align-items: center;
    border: 0!important;
    padding:0;
    background-image: linear-gradient(var(--gold),var(--gold));
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 100% 1px;
    gap:12px;
    transition: all 0.2s ease;
}
.clear::after{
    content: '';
    width: 16px;
    height: 16px;
    background-image: url(/wp-content/uploads/Clear-Filters-Icon_Yellow.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.clear:hover{
    animation: underline 0.2s;
}
.cat-header{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap:60px;
}
.cat-clear{
    flex-shrink: 0;
}
.cat-box{
    display: flex;
    flex-wrap: wrap;
    gap:12px 20px;
}
.loadMore_btn{
    border: 0!important;
    font-family: var(--font-headline);
    font-size: 19px;
    font-size: 1.19rem;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    line-height: 1.5rem;
    color:var(--black);
    background-color: var(--gold)!important;
    padding: 20px 40px;
    border-radius: 50px!important;
}
div.loadMore {
    margin-top: 36px;
    text-align: center;
}
@media only screen and (max-width: 1366px) {

}
@media only screen and (max-width: 992px) {
    .post-list{
        gap: 30px;
    }
}
@media only screen and (max-width: 768px) {
    .post-list{
        gap: 16px;
        flex-direction: column;
        padding: 26px 0;
    }
    .post-left{
        flex-direction: row;
        gap: 16px;
        flex-basis: unset;
    }
    .post-right{
        gap: 16px;
    }
    .post-title{
        font-size: 26px;
        font-size: 1.63rem;
        line-height: 33px;
        line-height: 2.06rem;
    }
    .post-date{
        font-weight: 700;
    }
    .cat-header{
        flex-direction: column;
        gap: 42px;
    }
    .cat-box{
        flex-direction: column;
        gap:12px;
        align-items: flex-start;
    }
    .cat-btn{
        padding: 13px 26px;
    }
    .loadMore_btn{
        padding: 13px 26px;
    }
    div.loadMore {
        margin-top: 0;
    }
}