.foldable li.people-list_item {
    padding:0;
    background-color: transparent;
}

.foldable li.people-list_item div.people--img {
    justify-content: flex-start;
}

.foldable li.people-list_item div.item--details .h4,
.foldable li.people-list_item div.item--details p,
.foldable .item--details {
    text-align: left;
}

.foldable .moreDetails {
    display: none;
    margin: 0 0 26px;
    text-align: left;
}
.foldable .moreDetails,
.foldable .moreDetails *{
    color:var(--white);
}

.foldable li.people-list_item div.item--details > div {
    justify-content: flex-end;
}
.item--details.noheight{
    max-height:unset!important;
}

ul.people-list {
    display: grid;
    grid-template-columns: minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);
    grid-column-gap: 20px;
    grid-row-gap: 56px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
    

.people-list_item .item--details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

li.people-list_item div.people--img {
    height: 260px;
    width: 260px;
    margin-bottom: 36px;
    display: flex;
    justify-content: center;
    border-radius: 16px;
}
.partner li.people-list_item div.people--img {
    width: 100%;
    height: 260px;
    background-color: var(--white);
    border-radius: 16px;
    padding: 32px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.12);
}
li.people-list_item div.people--img img {
    width: 260px;
    object-fit: cover;
    border-radius: 16px;
}
.partner li.people-list_item div.people--img img {
    width:100%;
    height:100%;
    object-fit: contain;
    border-radius: 0;
    max-width: 300px;
    max-height: 160px;
    margin: auto;
}
li.people-list_item div.item--details > div {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
}

li.people-list_item div.item--details .h4 {
    color: var(--white);
}

li.people-list_item div.item--details p.title {
    margin-top:16px;
    margin-bottom: 26px;
    font-family: var(--font-headline);
    font-size: 22px;
    font-size: 1.38rem;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    line-height: 2.13rem;
    color: var(--white);
}
.morecontent span {
    display: none;
}

li.people-list_item .moreBtn,
li.people-list_item .lessBtn {
    font-family: var(--font-headline);
    font-size: 18px;
    font-size: 1.13rem;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    line-height: 1.81rem;
    color: var(--white);
    background: transparent;
    border: 0;
    border-radius: 0;
    padding: 0 0 0px;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-image: linear-gradient(var(--white), var(--white));
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 100% 1px;
    transition: all .2s ease, underline .5s ease-in-out;
}

li.people-list_item .moreBtn::after {
    content: "";
    background: url(/wp-content/uploads/See-Bio-Icon.svg) center center / contain no-repeat;
    height: 14px;
    width: 14px;
}

li.people-list_item .lessBtn::after {
    content: "";
    background: url(/wp-content/uploads/Close-Icon.svg) center center / contain no-repeat;
    height: 14px;
    width: 14px;
}

li.people-list_item .moreBtn::before,
li.people-list_item .lessBtn::before {
    /*
    position: absolute;
    bottom: 0;
    max-width: 100%;
    overflow: hidden;
    content: url(/wp-content/uploads/Group-9747.svg)
    */
}

@media only screen and (max-width: 1366px) {
    ul.people-list {
        grid-template-columns: minmax(0, 2fr) minmax(0, 2fr);
        grid-column-gap: 24px;
        grid-row-gap: 56px;
    }
}
@media only screen and (max-width: 992px) {
    .partner li.people-list_item div.people--img{
        padding:20px;
    }
}
@media only screen and (max-width: 768px) {
    
    ul.people-list {
        grid-template-columns: minmax(0, 1fr);
        gap: 36px;
    }
    .partner ul.people-list {
        gap: 56px;
    }
    .foldable .moreDetails {
        margin: 0 0 16px;
    }
    li.people-list_item div.people--img img{
        width: 164px;
    }
    li.people-list_item div.people--img {
        width: 164px;
        height: 164px;
        border-radius: 8px;
        margin-bottom: 26px;
    }
    .partner li.people-list_item div.people--img {
        height: 210px;
        max-width: 340px;
    }
    li.people-list_item div.item--details p.title{
        margin-bottom:16px;
        margin-top:16px;
    }
}
