/***************
    
    High Noon Interface
    2025 - Loop: Design fir Social Good
    https://weareloop.com/
 
    This file contains the styles for all parts related to 
    the header and footer interfaces. 
 
    @package High Noon Theme
    @version 1.0.0

***************/

:root {
    /* VARS */
     --header-height: 76px;
     --topbar-height: 39px;
}
#fl-to-top i{
    color:var(--black);
}
a#fl-to-top {
    background: var(--cream) !important;
    border-radius: 6px;
}

a#skip-to-content {
    background: var(--white);
    color: var(--black);
    font-size: 20px;
    font-size: 1.25rem;
    width: 100%;
    text-align: center;
    display: block;
    padding: 10px;
}

/* google reCaptcha Badge*/
.grecaptcha-badge {    bottom: 75px !important;}

header.fl-page-header {
    position: fixed;
    width: 100%;
    z-index: 999;
    transition:all .25s ease;
    background: transparent;
    top: 0px;
    padding-top: 30px;
}

header.fl-page-header .header_inner {
    padding: 0 var(--content-padding);
    max-width: 1366px;
    margin: auto;
    display: flex;
    gap: 0;
    align-content: flex-start;
    flex-wrap: wrap;
}

header.fl-page-header.init {
    opacity:1;
    /* top:0; */
}

body.admin-bar header.fl-page-header {
    margin-top: 32px;
}







/*************/
/*************/
/* Menu Main */
/*************/
/*************/


#menu-main {
    width:100%;
    height: 100%;
    position: relative;
    z-index: 1;
    background: var(--cream);
    border-radius: 20px;
    padding: 10px 20px;
}
#menu-mobile-primary {display:none}

#menu-main .menu-desktop {
    list-style: none;
    gap: 50px;
    display: flex;
    margin: auto;
    padding:0;
    align-items: center;
    position: relative;
}
#menu-main .menu-desktop >li.mainmenu_item.mobile_only{
    display: none;
}
#menu-main .menu-desktop >li.mainmenu_item:first-child {margin-right:auto}


#menu-main .menu-desktop >.mainmenu_item:not(.has_submenu):not(.mainmenu_home) {position:relative;}
#menu-main .menu-desktop >.mainmenu_item:not(.has_submenu):not(.mainmenu_home):hover:after {opacity:1}
#menu-main .menu-desktop >.mainmenu_item.mainmenu_home {
   flex-shrink: 0;
   flex-grow: 1;
}
#menu-main .menu-desktop >.mainmenu_item.button {
   flex-shrink: 0;
   flex-grow: 0;
}
#menu-main .menu-desktop >.mainmenu_item:not(.button, .mainmenu_home) {
   flex-shrink: 1;
   flex-grow: 0;
   max-width: 124px;
}

#menu-main .menu-desktop li.mainmenu_item.menu_CTA {
    /*margin-left:-6px;*/
}
#menu-main .menu-desktop >li.mainmenu_item >a,
#menu-main .menu-desktop >li.has_submenu >button {
    color: var(--walnut);
    padding: 5px 0;
    border: 0;
    position: relative;
    background:transparent;
    font-family: var(--font-headline);
    font-weight:initial;
    font-size: 18px;
    font-size: 1.13rem;
    font-weight: 600;
    transition:all .25s ease;
    text-decoration:none;
    border-radius: 0;
    display:block;
    line-height: 22px;
    line-height: 1.38rem;
    text-align: left;
}

#menu-main .menu-desktop >li  >button {padding-bottom:20px}
body:not(.fl-builder-edit) .nofocus:focus {box-shadow:initial !important}


#menu-main .has_submenu >button[aria-expanded="true"] ~ .sub-menu[data-depth='0']:before {
    top: -15px;
}

#menu-main .sub-menu[data-depth='0']:before{
    content: "";
    position: absolute;
    top:0;
    left:50%;
    transform: translateX(-50%);
    width: 21px;
    height: 19px;
    background-image: url(/wp-content/uploads/Vector-1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
}
#menu-main .sub-menu[data-depth='0']:after{
    content: "";
    background: transparent;
    position: absolute;
    top: -40px;
    left: 0;
    height: 40px;
    width: 100%;
}
#menu-main .sub-menu[data-depth='0'] {
    /* display:flex; */
    padding: 0;
    transition: all .25s ease;
    z-index: 2;
    border-radius: 0;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 10%);
    width: 100%;
    left: 0;
    padding-top: 44px;
    padding-bottom: 44px;
    padding-left: calc((100vw - 1366px) / 2);
    padding-right: calc((100vw - 1366px) / 2);
    top: 190px;
    background: var(--white);
    gap: 80px;
}
#menu-main .one_column .sub-menu[data-depth='0']{
    width: initial;
    display: block;
    min-width: 260px;
}

#menu-main .has_submenu.submenu_cols .sub-menu[data-depth='0'] {
    display:flex;
    gap:80px;
}

#menu-main .has_submenu.submenu_cols .sub-menu[data-depth='0'] >li.mainmenu_item {
    min-width:230px;
}

#menu-main .has_submenu >button[aria-expanded="false"] ~ .sub-menu[data-depth='0'],
.top-bar-nav .has_submenu >button[aria-expanded="false"] ~ .sub-menu[data-depth='0']{
    visibility: hidden;
    opacity:0;
    transform:translate(-50%, -10px);
}

#menu-main .has_submenu >button[aria-expanded="true"] ~ .sub-menu[data-depth='0'], 
.top-bar-nav .has_submenu >button[aria-expanded="true"] ~ .sub-menu[data-depth='0']{
    visibility: visible;
    opacity:1;
}

#menu-main .sub-menu[data-depth='0']{
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    top: 0px;
    box-sizing: content-box;
    padding: 0;
    transition: all .25s ease;
    z-index: 1;
    padding: 20px;
    border-radius: 14px;
    margin-top: 94px;
    background: var(--tan-light);
    width: auto;
    max-width: 320px;
}
.top-bar-nav .sub-menu[data-depth='0']{
    width: 180px;
    padding: 26px 20px 26px;
    margin-top: 40px;
}
#menu-top-bar .has_submenu li{
    text-align: left;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 24px;
    line-height: 1.5rem;
    padding: 0;
    margin-bottom: 11px;
}
#menu-top-bar .has_submenu li:last-child{
    margin-bottom:0;
}
#menu-main .mainmenu_sub{
    flex:1;
}
#menu-main .sub-menu .mainmenu_item h3:before {
    content:"";
    width:16px;
    height:28px;
    border-radius:3px;
    background:#C8EFE8;
    display:inline-block;
    margin-right:9px;
    vertical-align: top;
    position: relative;
    top: -2px;
    float: left;
}
#menu-main .sub-menu .mainmenu_item h3 {
    display:inline-block;
    font-family: var(--font-content);
    font-size: 16px;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    line-height: 1.75rem;
    margin: 0 0px;
    padding-bottom: 18px;
    padding-top:0;
    text-align: left;
    color: var(--black);
}

#menu-main .menu-desktop .sub-menu .mainmenu_item {
    min-width:280px;
    margin-bottom: 23px;
}
#menu-main .menu-desktop .sub-menu .mainmenu_item:last-child{
    margin-bottom: 0;
}
#menu-main .sub-menu .mainmenu_item a, 
.top-bar-nav .sub-menu .mainmenu_item a {
    font-family: var(--font-headline);
    font-size: 18px;
    font-size: 1.13rem;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    line-height: 1.38rem;
    padding: 0px 0px;
    color: var(--walnut);
    position: relative;
    text-decoration: none;
    background-image: linear-gradient(transparent, transparent);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 100% 1px;
    transition: background-size .5s ease-in-out;
    display: inline;
}

#menu-main .submenu_cols .sub-menu .mainmenu_item a {
    font-size:16px;
    font-size:1rem;
}

#menu-main .has_submenu.submenu_adjust_item4 .sub-menu  {
    left:-240px;
}
#menu-main .submenu_adjust_item4 .sub-menu[data-depth='0']:before {
    left: calc(100% - 210px);
}

#menu-main .sub-menu .mainmenu_item a:hover,
.top-bar-nav .sub-menu .mainmenu_item a:hover {
    animation: 0.5s underline;
    background-image: linear-gradient(var(--gold), var(--gold));
}

#menu-main .menu-desktop li.mainmenu_item,
.top-bar-nav .menu-desktop li.mainmenu_item {    
    margin: 0;
    height: 100%;
    position: relative;
}

#menu-main .menu-desktop li.mainmenu_item {
    margin-bottom:0;
}

#menu-main ul.sub-menu, 
.top-bar-nav ul.sub-menu{
    list-style: none;
    padding: 0;
}
#menu-main .mainmenu_home {
    padding:0;
}
#menu-main .menu-desktop >li.current-menu-ancestor,
#menu-main .menu-desktop >li.current-menu-item:not(.mainmenu_home):not(.apply_financing)
{border-bottom:8px solid var(--sunset) !important;}

.top-bar-nav .menu-desktop >li.current-menu-ancestor,
.top-bar-nav .menu-desktop >li.current-menu-item
{border-bottom:5px solid var(--brown) !important;}

.top-bar-nav .menu-desktop >li.mainmenu_item a
{text-decoration:none !important;}

#menu-main .menu-desktop >li.mainmenu_item.mainmenu_home >a {
    padding: 0;
}

.mainmenu_home a {background:none}

#menu-main .mainmenu_home >a img{
    height:100%;
    max-height: 76px;
}

#menu-main .menu-desktop >li.mainmenu_button.button a:after {
    
}
#menu-main .menu-desktop >li.mainmenu_button.apply_financing.button a {
    padding:14px 26px;
}
#menu-main .menu-desktop >li.mainmenu_button.button button {
    padding: 15px 25px;
    background: var(--gold);
    color: var(--walnut);
    font-family: var(--font-headline);
    font-weight: 600;
    font-size: 18px;
    font-size: 1.13rem;
    line-height: 22px;
    line-height: 1.38rem;
    border-radius: 50px;
    transition: all .25s ease;
    align-items: center;
}

#menu-main .menu-desktop >li.has_submenu >button {
    margin:0;
    display: flex;
    gap:7px;
}

#menu-main .menu-desktop >li.has_submenu.button >button:after{
    content: " ";
    display: inline-block;
    background-image: url(/wp-content/uploads/Navigation-Dropdown-Icon_Black.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width:15px;
    height:10px;
    transition: all .25s ease;
    padding-bottom: 0px;
    flex-shrink: 0;
}
#menu-main .menu-desktop >li.has_submenu:not(.button) >button:before {
    content: " ";
    display: inline-block;
    background-image: url(/wp-content/uploads/Navigation-Dropdown-Icon_Yellow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width:15px;
    height:10px;
    transition: all .25s ease;
    padding-bottom: 0px;
    margin-top: 9px;
    flex-shrink: 0;
}
#menu-main .menu-desktop >li.has_submenu:not(.button) >button:after {
    content: '';
    width:0%;
    height:5px;
    background-color: var(--gold);
    position: absolute;
    bottom:-21px;
    left:0;
    transition: all 0.2s ease;
}
#menu-main .menu-desktop >li.has_submenu:not(.button) >button[aria-expanded="true"]:after,
#menu-main .menu-desktop >li.has_submenu:not(.button):hover >button:after {
    width:100%;
}



.menu_main_out header.fl-page-header {
    transform:translateY(-128px);
}


/* Mobile menu */
#menu-main .menu-mobile {
    display: none;
}

#menu-main .menu-desktop >li.has_submenu >button[aria-expanded="true"] {
    z-index:2;
}
#menu-main .menu-desktop >li.has_submenu >button[aria-expanded="false"]:after {
    transform:rotate(0deg);
}

#menu-main .menu-desktop >li.has_submenu.button >button[aria-expanded="true"]:after {
    transform:rotate(180deg);
}

#menu-main .menu-desktop >li.has_submenu:not(.button) >button[aria-expanded="true"]:before {
    transform:rotate(180deg);
}


#menu-main .button_cta:after {display:none}
#menu-main .button_cta button {
    font-family: var(--font-content);
    font-size: 16px;
    font-size: 1rem;
    line-height: 36px;
    line-height: 2.25rem;
    color: var(--white);
    border:0;
    background:var(--blue);
    padding: 9px 26px;
    border-radius:100px;
    margin-left:20px;
    transition:all .25s ease;
}

#menu-main .button_cta button:hover {transform:scale(1.05)}


.menu-mobile .trp-language-switcher .trp-ls-shortcode-language a,
#menu-top-bar .topbar_language a .trp-ls-language-name{
    width: initial !important;
    border: 0;
    background: initial;
    font-family: var(--font-content);
    font-size: 17px;
    font-size: 1.06rem;
    line-height: 24px;
    line-height: 1.5rem;
    color: var(--brown);
    visibility: visible;
    cursor:pointer;
}

.menu-mobile .trp-language-switcher .trp-ls-shortcode-language {
    display: inline-block !important;
    height: initial;
    width: 70px !important;
    position: relative;
    top: -5px;
    padding: 5px;
    border: 0;
}

.menu-mobile .trp-language-switcher .trp-ls-shortcode-language:before {
    float: left;
    visibility: visible;
    top: 9px;
}
.menu-mobile .trp-language-switcher .trp-ls-shortcode-current-language {display:none !important;}

.menu-mobile .trp-language-switcher > div > a.trp-ls-shortcode-disabled-language {cursor:pointer;}
.menu-mobile .trp-language-switcher .trp-ls-shortcode-current-language a:hover {color: var(--brown);}


#menu-main .button_cta button:hover {transform:scale(1.05)}

.menu-mobile .trp-language-switcher .trp-ls-shortcode-current-language:before{
    float:left;
}


/* Social Networks */
.social_networks {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
    display: flex;
    gap: 26px;
    align-items: flex-start;
    justify-content: center;
}

.social_networks a{
    text-decoration: none !important;
    color:var(--black) !important;
    font-size:40px;
    font-size:2.5rem;
    background: none !important;
}





/**********/
/* Footer */
/**********/
footer {
    background: var(--chestnut);
    color: var(--white);
    padding-top: 68px;
    padding-bottom:88px;
}


footer .fl-builder-content {
    margin:0;
    max-width:initial;
    padding:0;
}

footer a {font-weight:700}

.footer_row {
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 60px;
    max-width: 1366px;
    padding-bottom: 0px;
    align-items: center;
    justify-content: space-between;
    padding-left:var(--content-padding);
    padding-right:var(--content-padding);
}
.footer_col.col2 {    
    flex: 1;
    padding:30px 40px 40px;
    background: var(--cream);
    border-radius: 24px;
    color: var(--black);
    text-align:left;
}

.footer_col.col1 p {
    font-size: 18px;
    font-size: 1.13rem;
    line-height: 29px;
    line-height: 1.81rem;
}

.footer_col.col1 {   
    flex: 1;
}

.footer_col.col1 a {
    font-size:18px;
    font-size:1.13rem;
}

footer .h2 {
    margin-bottom: 30px !important;
    color: var(--cream);
}
footer h3 {
    color: var(--walnut);
}

footer .buttonlink a.fl-button{
    color:var(--walnut);
}
footer .cta_button{
    margin-top: 64px;
}
footer .cta_button a{
    text-decoration: none;
    display: inline-flex;
    color:var(--black)!important;
    background-color: var(--gold)!important;
}
.imgBox{
    display: flex;
    margin-top:88px;
    justify-content: space-between;
    gap:20px;
    flex-wrap: wrap;
}
.imgBox img{
    height:110px;
    width:auto;
}

/***************************************************************/
/***************************************************************/
/* Responsive */
/***************************************************************/
/***************************************************************/



/*****************/
/* Large desktop */
/*****************/
@media only screen and (max-width: 1366px) {

    /* VARS */
    :root {
         --header-height: 100px;
         --content-padding:60px;
    }

    /* Header */
    header.fl-page-header .header_inner{
        padding: 0 30px;
    }
    #menu-main .menu-desktop >li.mainmenu_item >a, 
    #menu-main .menu-desktop >li.has_submenu >button {
        font-size:16px;
        font-size:1rem;
        padding: 0;
    }
    #menu-quickaccess li a, 
    #menu-quickaccess li button {
        font-size:13px;
        font-size:0.81rem;
    }
    #menu-main .menu-desktop {
        gap: 20px;
    }
    #menu-main .menu-desktop >li.mainmenu_button.button a {        padding: 16px;    }
    #menu-main .menu-desktop li.mainmenu_item.menu_CTA {        margin: 0;    }
    #menu-main .menu-desktop li.mainmenu_item {        margin-bottom: 0;    }
    #menu-main .mainmenu_home >a img {        max-height: 58px;    }

    ul#menu-quickaccess {
        padding-right: 145px;
        padding-top: 21px;
        gap: 25px;
    }

    #menu-main .menu-desktop >li.mainmenu_button.button button{
        font-size: 16px;
        font-size: 1rem;
    }
        
    
    /**********/
    /* Footer */
    /**********/
    .footer_row {
        gap:44px;
    }
    footer{
        padding-top:68px;
        padding-bottom:68px;
    }
}





/**********/
/* Tablet */
/**********/
@media only screen and (max-width: 992px) {

    /* VARS */
    :root {
        /* --header-height: 100px; */
        --content-padding:36px;
        --content-padding-top:100px;
    }
    header.fl-page-header {
        padding-top:20px;
        padding-left: 22px;
        padding-right:22px;
    }
    header.fl-page-header .header_inner {
        padding: 0;
        margin: auto;
    }

    #menu-main #menu-mobile-primary {
        width: 100%;
        margin: 0;
    }
    

    

    .mobile_menu_open .fl-page-header {
        background: var(--green);
        height: 100vh;
    } 


    #menu-mobile-primary {
        display: flex;
        list-style: none;
        justify-content: space-between;
        padding:0;
        align-items: center;
        gap:24px;
        height:100%;
    }
    
    #menu-mobile-primary li img {
        height:100%;
        max-height: 64px;
    }
    #menu-mobile-primary li a {background:initial}
    #menu-mobile-primary .mainmenu_home {        margin-right:auto;    }

    #menu-mobile-primary .mobile_menu_toggle {
        background: transparent;
        border: 0;
        font-size: 0;
        padding: 0;
    }

    #menu-mobile-primary .mobile_menu_toggle:after {
        content:"";
        background:url(/wp-content/uploads/Frame-11207.svg) center right / contain no-repeat;
        width:50px;
        height:31px;
        display:inline-block;    
        position: relative;
        transition:all .25s ease;
    }

    #menu-mobile-primary .mobile_menu_toggle[aria-pressed="true"]:after {
        background: url(/wp-content/uploads/Group-11213.svg) center right / contain no-repeat;
        width: 50px;
        height: 31px;
        transform: rotate(180deg) translate(-5px, -2px);
    }

    #menu-main .sub-menu .mainmenu_item {
        min-width: initial;
    }

    #menu-main ul.menu-desktop {
        width: 100%;
        left: 0;
        align-items: flex-start;
        flex-direction: column;
        display:none;
        padding-top: 30px;
        gap:0!important;
    }
    .admin-bar #menu-main ul.menu-desktop {
        
    }
    #menu-main ul.menu-desktop li {
        
    }
    #menu-main .menu-desktop .mainmenu_home {display:none}

    #menu-main .menu-desktop li.mainmenu_item {
        height:initial;
        padding-top:0px;
        padding-bottom:0px;
        margin: 0 0 0px;
        max-width:100%!important;
        width:100%;
    }
    #menu-main .menu-desktop >li.has_submenu:not(.button) >button:after{
        display: none!important;
    }
    #menu-main .menu-desktop >li.has_submenu:not(.button) >button::before{
        margin-top:0;
    }
    #menu-main ul.menu-desktop li.has_submenu >button,
    #menu-main ul.menu-desktop li.mainmenu_item a{
        font-size: 30px;
        font-size: 1.88rem;
        line-height: 38px;
        line-height: 2.38rem;
        font-weight:600;
        width: calc(100% - 32px);
        border-radius: 0;
        color: var(--walnut);
        text-align: left;
        margin: 0 16px 22px;
        float: left;
    }
    #menu-main .menu-desktop .sub-menu .mainmenu_item,
    #menu-main .menu-desktop .sub-menu .mainmenu_item:last-child{
        margin-bottom:7px;
    }
    #menu-main ul.menu-desktop li.has_submenu >button{
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
    #menu-main .sub-menu[data-depth='0']:before{
        display: none;
    }
    #menu-main ul.menu-desktop .sub-menu li.mainmenu_item a{
        color:var(--chestnut);
        font-weight: 600;
        font-size:18px;
        font-size:1.13rem;
        line-height:23px;
        line-height:1.44rem;
        padding-bottom:0;
        background: none!important;
    }
    
    #menu-main ul.menu-desktop li.has_submenu >button:after,
    #menu-main ul.menu-desktop li.has_submenu >button:hover:after {
        
    }
    #menu-main .sub-menu[data-depth='0'] {
        border-radius: 0;
        box-shadow: none;
        position: static;
        transform: none!important;
        width: 100%;
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
        padding: 0px 0 10px;
        transition:initial;
        background-color: transparent;
        max-width: unset;
        gap:0;
        flex-direction: column;
        padding-bottom:0;
    }
    #menu-main .menu-desktop >li.mainmenu_button.button button{
        font-size: 30px;
        font-size: 1.88rem;
        line-height: 38px;
        line-height: 2.38rem;
        font-weight: 600;
        color: var(--black);
        flex-direction: row;
    }
    #menu-main .one_column .sub-menu[data-depth='0']{
        width: unset;
    }

    #menu-main .has_submenu >button[aria-expanded="false"] ~ .sub-menu[data-depth='0'] {
        margin-top: 0;
        padding:0;
    }

    #menu-main .has_submenu >button[aria-expanded="true"] ~ .sub-menu[data-depth='0'] {transform: initial;}
    #menu-main .has_submenu >button[aria-expanded="false"] ~ .sub-menu[data-depth='0'] {
        visibility: visible;
        opacity: 1;
        transform: initial;
        display:none;
        transition:initial;
        padding: 0px 0 0px;
    }





       
    #menu-main .mainmenu_cont {        padding: 0;    }
    #menu-main .smib_desc {        margin: 0; padding: 0 0 20px;}
    #menu-main .sub-menu[data-depth='0'] >.mainmenu_item >h3 {         
        position: relative;
        top: 0px;
        padding: 8px 0px 8px;
        color: var(--white);
        font-size: 22px;
        font-size: 1.38rem;
        line-height: 26px;
        line-height: 1.63rem;
        font-weight: bold;
        margin-top: 20px;
        white-space: break-spaces;
    }
    
    #menu-main #mega-menu .sub-menu[data-depth='0'] >.mainmenu_item {
        padding: 22px 0;
    }

    .menu_mobile_search_form_wrapper {
        display: flex;
    }
    .menu_mobile_search_form_wrapper #searchform_mobile {width:100%;}
    .menu_mobile_search_form_wrapper #searchform_mobile input[type=text].search_input {
        font-size: 18px;
        font-size: 1.13rem;
        width: 100%;
        padding: 12px;
        color: var(--patch-reef-blue);
        border: 0;
    }

    .menu_mobile_search_form_wrapper  button.search_button {
        border: 0;
        background: var(--sandbar-blue);
        color: var(--patch-reef-blue);
        font-size: 18px;
        font-weight: 700;
        padding: 0 20px;
        margin-left: 10px;
    }

    


    .submenu_infobox {        padding: 20px;    }


    #menu-main .mainmenu_icon {
        display: block;
        width: 100%;
        height: 55px;
        border:0;
        border-bottom: 1px solid #ddd;

    }

    #menu-main .menu-desktop .mainmenu_home {
        display:none;
    }
    
    #menu-main .menu-mobile-header .mainmenu_home >a:before {
        width: 40vw;
        height: 37px;
        position: absolute;
        transform: translateX(-20vw);
    }

    #menu-main .menu-mobile-header {
        grid-template-columns: 25vw 53vw 17vw;
    }

    #menu-main .menu-desktop >li.has_submenu >button {
        transform: translateX(0);
    }

    


    /* #menu-main .has_submenu >button[aria-expanded="false"] ~ .sub-menu[data-depth='0'] { */
    #menu-main #menu-mega-menu .sub-menu[data-depth='0'] {
        visibility: visible;
        opacity: 1;
        transform: initial;
        transition: initial;
    }


    #menu-main #menu-mega-menu .sub-menu[data-depth='0'] {
            padding-top: 22px;
        padding-bottom: 22px;
        padding-left: 10px;
        padding-right: 10px;
        top: 0;
            display: none;
    }
    #menu-main #menu-mega-menu .sub-menu[data-depth='0'] {
        padding-top:0 ;
        padding-bottom: 0;
        margin: 0;
    }

    .mega_image {display:none}

    body.mobile_menu_open  {overflow:hidden}


    /**********/
    /* Footer */
    /**********/

    .footer_row {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .footer_col.col1{
        min-width:initial;
    } 
    .footer_col.col2{
        flex: 1 1 100%;
        max-width: 100%;
    } 
    
}




/**********/
/* Mobile */
/**********/
@media only screen and (max-width: 768px) {

    /* VARS */
    :root {
        --header-height: 60px;
        --content-padding:18px;
        --content-padding-top:80px;
    }


    body.admin-bar header.fl-page-header {
        margin-top: 46px;
    }
    
    
    body.admin-bar.menu_main_out header.fl-page-header {
        transform:translateY(-150px);
    }
    

    #menu-mobile-primary .mobile_menu_toggle:after {
        width: 40px;
        height: 25px;
    }
    #menu-mobile-primary .mobile_menu_toggle {
        top: 0;
        margin: 0;
    }
    #menu-main ul.menu-desktop li.has_submenu >button, 
    #menu-main ul.menu-desktop > li.mainmenu_item > a{
        font-size: 26px;
        font-size: 1.63rem;
        line-height: 33px;
        line-height: 2.06rem;
    }
    /* Footer */
    footer {
        padding-bottom: 0;
    }
    footer{
        padding-top:36px;
        padding-bottom:36px;
    }
    footer{
        padding-top:36px;
        padding-bottom:36px;
    }
}